@media (max-width: 850px) {
    .sidebar {
        transform: translateX(-100%);
    }
    .page-content {
        margin-left: -250px;
        width: 100%;
    }
    .sidebar.open {
        transform: translateX(0);
    }
    .page-content.sidebar-open {
        margin-left: 0px;
        width: calc(100% - 250px);
    }
    /* .c-username {
        margin-left: 35px;
    } */
}

@media (max-width: 850px) {
    .toggle-btn {
        display: block;
    }

    .navbar-brand img {
        margin-left: 50px;
    }
}

@media (max-width: 756px) {
    .sidebar{
        min-width: 200px !important;
    }

    .page-content {
        margin-left: -200px;
        width: 100%;
    }

    .footer {
        height: auto !important;
    }
}

@media screen and (max-width: 767px) {
    div.dt-container div.dt-length, div.dt-container div.dt-search {
        text-align: left !important;
    }
}

@media screen and (max-width: 475px) {
    .nav-link {
        margin-left: 4px !important;
        font-size: 12px !important;
        padding:  5px !important;
    }

    .custom-btn{
        padding: 5px 0px !important;
        width: 150px !important;
        font-size: 14px !important;
    }

    .clear-all {
        padding:  6px !important;
        font-size: 10px !important;
    }

    .notification-container h4 {
        font-size: 16px !important;
    }

    .c-username {
        display: none;
    }
}

@media screen and (max-width: 568px) {
    .notification-time {
        font-size: 10px !important;
    }

    .text-end {
        width: 100% !important;
    }

    .notification-icon {
        font-size: 30px !important;
    }

    .delete-icon {
        font-size: 14px !important;
    }

    .notification-title {
        font-size: 12px !important;
    }

    .notification-description {
        font-size: 10px !important;
    }
}
