.custom-control-input:not(:checked) {
  }
  .custom-control-input:checked {
    background-color: green; /* Change the color of the toggle when it is checked */
    border-color: green; /* Change the border color of the toggle when it is checked */
}
.nav-second-level li a {

  font-size: 0.8rem !important;
}
/* .btn-group-sm>.btn, .btn-sm {
  padding: 0.1rem 0.3rem !important;
} */
.btn-group-sm>.btn, .btn-sm {
  padding: 0rem 0rem !important;
  /* font-size: unset; */
  height: 25px;
  width: 25px;
}
.table>:not(caption)>*>* {
  padding: 0.4rem 0.8rem;
  background-color: var(--ct-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--ct-table-accent-bg);
}
#responsive-datatable, #datatable , .table
{
  font-size: 12px;
}
.add-btn
{
  padding:0.3rem 0.8rem 0.3rem 0.3rem  !important;
    font-size: .8rem;
}
.btn-label {
  margin: -0.55rem 0.9rem -0.55rem -0.9rem;
  padding: 0.6rem 0.9rem;
  background-color: rgba(50,58,70,.1);
}
.fa-plus, .fa-long-arrow-alt-left , .fa-info-circle{
padding-left: 10px !important;
}
.department-card
{
  min-height: 500px;
}
#sidebar-menu>ul>li>a {

  padding: 10px 20px !important;

}
.btn-success , .btn-danger , .btn-primary
{
padding:5px 10px;
}

/* tbody tr td:first-child
{
  text-align: center;
} */
.tabledit-view-button{
  height: 25px;
  width: 25px;
  padding: 2px 5px;
}
label span{
  font-weight: 100;
}
td input[type="text"] {
  width: 100%;
}
.add-stock tbody tr td
{
  padding-bottom: 10px;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: flex-end;
}